html, body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    margin: 1.25em auto 0 auto;
    height: fit-content;
    width: fit-content;
}
header{
    display: flex;
    width: 100%;
    padding: 1.25em 0.625em;
    gap: 1em;
    background-color: #FFFFFF;
}
#colorpicker {
    height: 2.625em; /* Adjusted to 42 pixels in em units */
    width: 3.1875em;
}

select {
    font-weight: 400;
    height: 2.625em; /* Adjusted to 42 pixels in em units */
    width: 19.5em;
    font-size: 1rem;
    border-radius: 0.5em;
    background-color: #FFFFFF;
    border: 1px solid #D1D5DB;
}

header button {
    padding: 1em 0.6875em;
    font-size: 0.75rem;
    line-height: 1;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 0.25em;
}
#color-grid{
    display: flex;
    gap: 0;
}
#color-0,#color-1,#color-2,#color-3,#color-4{
    width: 6.875em;
    height: 25.9375em;
}
#color-label-0,#color-label-1,#color-label-2,#color-label-3,#color-label-4{
    text-align: center;
}
.label-container{
    background-color: #FFFFFF;
    height: 2.875em;
    width: 6.875em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-container{
    width: 6.875em;
    font-size: 0.7rem;
}
.label{
    color: blue;
    cursor: pointer;
}